header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 35px;
    padding: 0;
    margin-left: 220px;
}

.userProfile {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px 15px;

    transition: background-color 150ms;
}

.userProfile p {
    font-size: 1rem;
}

.userProfile div {
    margin-right: 10px;
    text-align: right;
}

.userProfile img {
    width: 70px;
    border-radius: 50%;
}

.userProfile:hover {
    background-color: rgba(36, 41, 43, 1);
    border-radius: 5px;
    cursor: pointer;
}

.hamburger {
    background-color: rgba(15, 15, 15, 1);
    position: fixed;
    z-index: 99;
    display: flex;
    flex-direction: column;
    top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255, 0.5);
}

.hamburgerMenu {
    display: flex;
    align-items: center;
    background-color: rgba(37, 41, 43, 1);
    border-radius: 5px;
    width: fit-content;
    padding: 10px 65px 10px 15px;
    gap: 20px;

    transition: background-color 150ms;
    cursor: pointer;
}

.hamburgerMenu:hover {
    background-color: rgba(49, 53, 56, 1);
}

.hamburgerMenu img {
    width: 35px;
    height: 35px;
}

.hamburgerMenu p {
    text-decoration: underline;
}

.hamburgerOpen {
    width: fit-content;
}

.hamburgerOpen h4 {
    padding: 0 30px 10px 20px
}

.hamburgerOpen .s1,
.hamburgerOpen .s2 {
    padding: 20px 0;
}

.hamburgerOpen .s1 {
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
}

.hamburgerOpen div .hamburgerNav {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 13px 30px 13px 15px;
    border-left: 4px solid transparent;

    transition: background-color 150ms;
}

.hamburgerOpen div .hamburgerNav img {
    width: 35px;
}

.hamburgerOpen div .hamburgerNav p {
    font-family: istokWeb;
}

.hamburgerNav:hover {
    background-color: rgba(30, 33, 34, 1);
    cursor: pointer;
}

.hamburgerOpen div .selected {
    border-left: 4px solid white;
    background-color: rgba(49, 53, 56, 1);
    border-radius: 5px;
}

.hamburgerClosed {
    display: none;
}

.currentlySelected {
    color: rgba(255, 224, 180, 1);
}

.userProfile .p2 {
    font-family: istokWeb, sans-serif;
    font-size: 0.95rem;
}

.userOpen {
    background-color: rgba(37, 41, 43, 1);
    border-radius: 5px;
}

.userOpen img {
    box-shadow: 0px 0px 7px rgb(255, 255, 255);
}

.userOpen:hover {
    cursor: default;
}